@font-face {
    font-family: kinkee;
    src: url("../fonts/KINKEE__.TTF");
}

@font-face {
    font-family: pixelify;
    src: url("../fonts/PixelifySans-VariableFont_wght.ttf");
}

h1 {
    font-family: kinkee;
    color: #4b2d00;
    font-size: 60px;
    margin: auto;
}
p {
    font-family: pixelify;
    color: #4b2d00;

}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.grid-controls {
    display: grid;
    grid-template-areas:
        ". up ."
        "left . right"
        ". down .";
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

button img {
    width: 50%;
    height: auto;
}

button[name="move"][value="up"] {
    grid-area: up;
}

button[name="move"][value="left"] {
    grid-area: left;
}

button[name="move"][value="right"] {
    grid-area: right;
}

button[name="move"][value="down"] {
    grid-area: down;
}

